[2020-08-06 04:03] skekre98 opened #1 "Add more rows in query dataset"
- Add more NBA and Random question data points in query csv. File can be found at `/data/query.csv`. Try to keep the number of random and NBA questions the same. You can use data reader script to see how many of each question type exists in file. **Make sure the questions different from previous instances in file.**

- Questions can be added directly in csv file followed by numerical label. **NBA

[2020-08-06 04:11] skekre98 opened #2 "Query Classification Model"
- Develop query classification model to categories user query for chatbot.

- The model will run inference on the POST request received from chatbox in order to classify as _NBA_ or _Random_. The query will then be sent to specific inference engine for processing.

- This will make query processing a lot smoother as we can ignore questions that are not related to the NBA.

[2020-08-06 04:25] #2 closed

[2020-08-06 04:25] #1 closed

[2020-08-06 04:28] skekre98 opened #3 "Add more rows in query dataset"
**Description of feature/enhancement**

- Add more NBA and Random question data points in query csv. File can be found at /data/query.csv. Try to keep the number of random and NBA questions the same. You can use *visualize.py* script to see how many of each question type exists in file. **Make sure the questions different from previous instances in file**.

**Description of implementation**

- Que

[2020-08-06 04:30] skekre98 opened #4 "Query Classification Model"
**Description of feature/enhancement**

- Develop query classification model to categories user query for chatbot.

**Description of implementation**

- The model will run inference on the POST request received from chatbox in order to classify as NBA or Random. The query will then be sent to specific inference engine for processing.

**Why this is a good feature/enhancement**

- This will make qu

[2020-08-08 19:10] skekre98 opened #5 "Blog Page"
**Description of feature/enhancement**

- Create the Blog HTML page for the website. Ideally there should be a blog object on the page with a title for the blog and an image to go along with it.

**Description of implementation**

- The blog object should ideally either route to the blog or download the blog file for user. Think about how your implementation will fit into the rest of the website a

[2020-08-08 19:17] skekre98 opened #6 "Predictions page"
**Description of feature/enhancement**

- Create web page to show predictions we can make regarding the NBA.

**Description of implementation**

- Completely up to you! No implementation has been thought of yet.

**Why this is a good feature/enhancement**

- It would be great if we can showcase predictions being made from the experiments we run on NBA data.

**Additional context**

- Think beyond

[2020-08-14 01:03] #3 closed

[2020-08-14 01:06] skekre98 opened #7 "Function to classify query as non-NBA"
**Description of feature/enhancement**
Implement function to classify query as non-NBA

**Description of implementation**
Check if query has any words related to NBA after preprocessing.

**Why this is a good feature/enhancement**
This way we can build a more balanced dataset for actual NBA query classification.

**Additional context**
n/a

[2020-08-15 21:27] #7 closed

[2020-08-21 05:45] skekre98 commented on #4
Completed, but could use improvement later down the road.

[2020-08-21 05:45] #4 closed

[2020-08-23 02:55] skekre98 opened #11 "RankNode"
**Description of feature/enhancement**
Build the rank node in the inference network to process rank based queries.

**Description of implementation**
Up to developer. Keep in mind how this will be presented in chatbox. Ideally this will be a subclass of _InferenceNetwork_.

**Why this is a good feature/enhancement**
The chatbot is an inference network based implementation... will require query nod

[2020-08-23 02:57] skekre98 opened #12 "StatNode"
**Description of feature/enhancement**
Build the stat node in the inference network to process stat based queries.

**Description of implementation**
Up to developer. Keep in mind how this will be presented in chatbox. Ideally this will be a subclass of _InferenceNetwork_.

**Why this is a good feature/enhancement**
The chatbot is an inference network based implementation... will require query nod

[2020-08-23 03:01] skekre98 opened #13 "Improve Query Class"
**Description of feature/enhancement**
Find a way to handle query processing more efficiently. Currently text is just being passed into _InferenceNetwork_.

**Description of implementation**
This will be receiving the user message from the chatbot and should leave an open implementation to handle a wide set of query classes.

**Why this is a good feature/enhancement**
This is the main backend comp

[2020-08-23 03:04] skekre98 opened #14 "Improve InferenceNetwork"
**Description of feature/enhancement**
Make improvements to current sub par implementation of _InferenceNetwork_.

**Description of implementation**
Up to developer. Ideally this class implementation should be able to cleanly handle N-class query processing.

**Why this is a good feature/enhancement**
This is the "brain" of the chatbot and will have high impact on the chatbot from a UX and functio

[2020-08-25 04:51] skekre98 commented on #6
We should add NBA standings element later on.

[2020-08-25 04:51] #6 closed

[2020-09-18 06:36] skekre98 commented on #11
Done, could use future optimization

[2020-09-18 06:36] #11 closed

[2020-09-21 21:31] khintze1 commented on #5
Is this issue still open?

[2020-09-21 22:24] skekre98 commented on #5
@khintze1 Yes, this is still open. Did you want me to assign it to you?

[2020-09-21 23:06] Redbullrish commented on #5
Hell No I have most of it coded I just need to finish the sliding carousel if @khintze1 wants to help me implement that then ill push my code to git for him/her to take a look.

[2020-09-22 13:20] khintze1 commented on #5
If @Redbullrish  is almost finished I could test what they made? If not, if there are any other small issues I'd be happy to help.  I'm looking a project I can help contribute to for a class.  So anything small and code related I'd be happy to take a look.

[2020-09-22 16:43] skekre98 commented on #5
@khintze1 what is your background? I can create a small issue within that. There are quite a few apparent issues that I haven't opened yet.

[2020-09-26 01:06] RamParameswaran opened #19 "ModuleNotFoundError: No module named 'sklearn.externals.joblib' due to scikit-learn deprecation"
'sklearn.externals.joblib' was deprecated in v0.23, resulting in ModuleNotFoundError.
(see related issue https://github.com/skggm/skggm/issues/124).

I recommend updating requirements.txt to specify the scikit-learn=0.22.2
Unless there is specific functionality desired from v0.23?

**To Reproduce**
Steps to reproduce the behavior:
1. pip install -r requirements.txt
2. python main.py run
3. see err

[2020-09-26 02:45] RamParameswaran opened #20 "Improvement to string matching methodology for player names/Implement get_player_url function"
**Describe the bug**
In `modules/scraper.py` the `SequenceMatcher(None, name, player).ratio()` function produces unexpected results.

The results are particularly unexpected when:
i) the length of `name` and `player` strings are significantly different (e.g. "Lebron" and "Lebron James")
ii) there is a case sensitivity mismatch (e.g. "Lebron" and "LeBron")

Recommend using a different string matchi

[2020-09-26 18:45] anjoshigor commented on #13
Hi! :hand:

What would you consider that could be done to improve efficiency? I'm available to contribute, but I would like to know which text processing I can do to help in this case.

Thanks in advance.

[2020-09-26 19:20] skekre98 commented on #13
Hi @anjoshigor

The current implementation isn't doing any preprocessing when feeding the text into the Inference Network. If you could add a filter method to perform operations like stripping whitespaces or removing useless characters such as @,#,etc... that would be really helpful 😊. I will go ahead and assign the issue to you.

Thanks!

[2020-09-26 19:28] skekre98 commented on #19
Thank you! I have pushed the fix to master. I'll go ahead and close the issue.

[2020-09-26 19:28] #19 closed

[2020-09-26 19:32] skekre98 commented on #20
I was able to recreate this with quite a few other names as well 😅. Would you be interested in picking this up?

[2020-09-26 20:20] skekre98 opened #21 "Add NBA Standings section in predictions web page"
**Description of feature/enhancement**
Add a component to show NBA standings for eastern and western conference.

**Description of implementation**
Add component under the NBA Playoffs block. Can keep the data in the standings static for now. Only requires update to /templates/predictions.html.

**Why this is a good feature/enhancement**
Would be nice to have a component to show NBA standings. Thi

[2020-09-27 06:03] skekre98 opened #22 "Create get_player_url function/Improve string similarity function for player names"
**Description of feature/enhancement**
Create function get_player_url to return the url of the player page to scrape. Also improve the function to find similarity between two strings for player names.

**Description of implementation**
Code can be found in [get_adv_stat](https://github.com/skekre98/NBA-Search/blob/8f07889fccd21d5500fbd6fdc75b25162a91c3c4/modules/scraper.py#L210) when trying to fin

[2020-09-27 06:52] RamParameswaran commented on #20
Yep I'm happy to pick this up. Shall we close this and continue on issue #22?

[2020-09-27 16:12] skekre98 commented on #20
Cool, I'll close this and assign #22 to you. Thanks!

[2020-09-27 16:34] skekre98 commented on #22
Moved to #20

[2020-09-27 16:34] #22 closed

[2020-09-27 16:49] skekre98 opened #23 "Improve query tokenizer for query classification"
**Description of feature/enhancement**
This is the tokenizer that will be used in the classification pipeline. Currently using very standard tokenization by simply removing stop words and punctuation.

**Description of implementation**
Improve `query_tokenizer` function in transformer module. This should be more oriented towards NBA queries and not generalized text classification. Recommend using

[2020-09-30 02:06] RamParameswaran commented on #20
@skekre98 what were some of the other player names you replicated this bug for? ... So I can use in test cases

[2020-09-30 02:47] skekre98 commented on #20
These are some I remember:

Who is a better shooter Kobe or Rodman?
- Expected: `Dennis Rodman`
- Actual: `Rod Freeman`

Who is a better shooter Kobe or Wilt?
- Expected: `Wilt Chamberlain`
- Actual: `Will Barton`

Who is a better shooter Kobe or Gervin?
- Expected: `George Gervin`
- Actual: `George Irvine`

I'll let you know if I come across anymore 👍

[2020-09-30 03:20] RamParameswaran commented on #20
Cool thanks.
FYI - there are a few cases of duplicate names (e.g. Derrick Gervin vs George Gervin) where the string matching may or may not return the expected result.

Obviously that's outside the scope of string-matching - but it's a curly issue to keep in mind!

[2020-09-30 04:07] skekre98 commented on #20
Agreed, this will require a different approach down the road. Perhaps unrelated to strings.

[2020-10-01 03:31] Saif807380 commented on #23
Can I work on this?

[2020-10-01 04:44] skekre98 commented on #23
@Saif807380 Yes, that would be much appreciated 👍

[2020-10-01 04:45] #20 closed

[2020-10-01 05:07] Saif807380 commented on #23
What does it mean to be "more oriented towards NBA queries"?

Should the tokenizer not include tokens that are not related to the NBA?

Also the query classification is to be done so that the queries will be better classified as rank queries or stat queries right?

[2020-10-01 06:01] skekre98 commented on #23
Not necessarily not related to the NBA, but currently the tokenizer is simply removing stop words and checking for POS such as "pronoun". A better tokenizer might check for multiple POS or look for something that better differentiates NBA queries. Such as a rank query usually has two proper nouns since multiple people are bring compared while a stat query tends to have one.

Yes, for now this shou

[2020-10-01 06:14] skekre98 opened #26 "Improve training data creation"
**Description of feature/enhancement**
Currently the training set being created makes all words lower case. This will affect how the model inferences queries negatively. Recreate training set so player names are upper case.

**Description of implementation**
In **preprocess.py**, you will see two functions called `generate_rank_queries` and `generate_stat_queries`. Both of these functions call the

[2020-10-01 06:19] skekre98 commented on #26
Class labels have been converted

[2020-10-01 08:33] Saif807380 commented on #23
So here's what I think -

* Keep tokens like [what, where, which, who, how, why] as they are direct indicators for the two classes. For example, how indicates a stat query, who indicates a rank one.
* Don't remove pronouns as they will also remove some of the wh- tokens.
* Keep token "or" which is another direct indicator of rank.
* Keep adjectives as they help quantify tokens like points, etc.
*

[2020-10-01 08:34] Saif807380 commented on #23
Also is there a way to test the classifier as right now even without any changes it gives 100% accuracy on `query.csv`?

[2020-10-01 14:29] trynnaBeADev commented on #26
hey  @skekre98 , Is this still open for grab ? If yes , Can I be assigned.

[2020-10-01 15:52] skekre98 commented on #23
Yes, this area needs a lot of improvement 😅. It was just a place holder while testing the Inference Network workflow. Currently #26 is addressing parts of this by making training data more uniform. I will definitely be opening more issues around this subject such as:
-  Create a script to test `query_classifier` and any other models that may be needed in the future
- Add another class label so we

[2020-10-01 15:53] skekre98 commented on #26
@trynnaBeADev Yes, that would be very helpful, thanks!

[2020-10-01 15:56] Saif807380 commented on #23
Sure. One way to get more queries would be to store the queries made by the users themselves. It can be an excellent source of raw data better representing the actual questions the boy will receive.

[2020-10-01 16:02] skekre98 opened #28 "Create test script for models"
**Description of feature/enhancement**
Create a script to test the accuracy of the models such as with `query_classifier`.

**Description of implementation**
Perhaps started with a few from query.csv, but also add in a few obscure queries that may be harder for the model to predict.

**Why this is a good feature/enhancement**
Need a way to confirm model accuracy on something other than training da

[2020-10-01 16:03] skekre98 commented on #23
I've created #28, perhaps lets use that to discuss this in the future. For now I will close this issue.

[2020-10-01 19:25] #26 closed

[2020-10-01 19:35] skekre98 opened #30 "Flawed sample in training data creation"
**Description of feature/enhancement**
There is a flawed sample creation in `preprocess.py`. This should be removed or improved with a more accurate stat query. https://github.com/skekre98/NBA-Search/blob/c6fb2e95ef6e40d6f51b3760b42b972d9da67bed/preprocess.py#L87
This is creating useless samples such as `what is assists Grayson Allen %`

**Description of implementation**
This should either be remo

[2020-10-02 00:20] skekre98 commented on #30
Being worked on in #32

[2020-10-02 03:37] skekre98 commented on #30
Fixed in #32

[2020-10-02 03:37] #30 closed

[2020-10-02 11:16] MohammedBajuaifer commented on #21
Hi, @skekre98 I would like to work on this issue if that's good.

Changes should be made to the frontend and the data is static for now, right?

[2020-10-02 16:10] skekre98 commented on #21
Yes, please create separate standings for east and west under playoffs. Can you keep it in the format of **team name** **wins** and **losses**. I will go ahead and assign the issue to you, thanks 😄.

[2020-10-02 21:54] JohnnyUrosevic commented on #28
Hello I want to work on this, how would you recommend I go about this. I assume you want me to make a python script that takes in test cases and some sort of expected value? I assume I would have to go about making these expected values by hand? Let me know if there's anything more specific you had in mind.

[2020-10-02 23:57] ashkankamyab commented on #28
@skekre98
I am also interested to work on this.

[2020-10-03 00:19] skekre98 opened #33 "Improve test case for KMeans clustering"
**Description of feature/enhancement**
Currently the test for the KMeans algorithm is just making sure the number of clusters created is accurate. https://github.com/skekre98/NBA-Search/blob/7583cb5224c2f741121d6e59d92b580e83809a06/test.py#L24

This is not an ideal way of checking the accuracy of the algorithm. The test case needs improvement.

**Description of implementation**
This test should id

[2020-10-03 00:24] skekre98 commented on #28
@JohnnyUrosevic Yes, this is along the lines of what I was thinking. The script should ideally test the models on queries different than those present in the training set. Perhaps create a directory name _tests_ under `../inference/models` and add the script there. I will go ahead an assign the issue over to you.

[2020-10-03 00:27] skekre98 commented on #28
@ashkankamyab Unfortunately @JohnnyUrosevic was first to comment. I don't think this issue will require more than one person's attention. However, would you be interested in undertaking #33? The issue is very similar as we need to test the results of a machine learning algorithm that was implemented earlier. If so, please comment on the issue and I will assign it to you ☺️.

[2020-10-03 00:36] ashkankamyab commented on #28
Thanks @skekre98
I will take a closer look into #33 :-)

[2020-10-03 01:31] skekre98 commented on #28
@ashkankamyab would you mind commenting on #33? Github won't let me assign it to you until you are part of the thread 😅.

[2020-10-03 01:55] ashkankamyab commented on #28
I will comment as soon as I am ready to work on it :-)

[2020-10-03 07:34] MohammedBajuaifer commented on #21
Hi @skekre98, forgot to ask is there a specific design on your mind or I just follow the design of the website and see where it gets me

[2020-10-03 13:42] MohammedBajuaifer commented on #21
Hey @skekre98, I've started working on this feature but I would like your comments regarding the design/structure of it. Here is a sample of what I did so far!

![image](https://user-images.githubusercontent.com/29784211/94993100-3dcd5700-0597-11eb-9b72-e82f2f0184ad.png)

[2020-10-03 15:56] skekre98 commented on #21
@MohammedBajuaifer this looks awesome! Could you make the background of the standings white like the playoff bracket? Besides that this is perfect. I'm guessing they are both tables so we can add as many rows as we'd like right?

[2020-10-03 16:28] MohammedBajuaifer commented on #21
Hey @skekre98, Sure thing! Yes we can add as many rows as we want, was thinking we could make it dynamic once we scrape the standings

[2020-10-03 16:42] skekre98 commented on #21
Awesome, I'll open an issue for automating the standings data once your changes are in!

[2020-10-03 17:54] skekre98 opened #34 "Website Header Reformatting"
**Description of feature/enhancement**
Would be a good idea to change the arrangement of the website header. Currently the order reads (Home, Github, About Us, Insights). The Github section is unnecessary as there is already a contribute button on every page of the website. The the header should be updated to a more prioritized order of (Home, Insights, About Us, Contributors).

**Description of i

[2020-10-03 18:52] MohammedBajuaifer commented on #34
Hi @skekre98, I can work on this. Also, isn't better to have a base.htm file for the header + foorer

[2020-10-03 18:54] MohammedBajuaifer commented on #34
Hey @skekre98, i can work on this!

[2020-10-03 18:57] MohammedBajuaifer commented on #34
Hey @skekre98, I can work on this!

Also, Isn't better to have a base.html for the header & footer instead of writing them in every file

[2020-10-03 18:59] MohammedBajuaifer commented on #21
Here! I have opened a PR

![image](https://user-images.githubusercontent.com/29784211/94999662-90bd0380-05c3-11eb-9a25-53bbb9145058.png)

[2020-10-03 19:19] skekre98 commented on #34
@MohammedBajuaifer I am not that familiar with HTML 😅, but that definitely sounds like a better implementation. Was this incorporated into #37?

[2020-10-03 19:21] MohammedBajuaifer commented on #34
Yes!

[2020-10-03 19:34] skekre98 opened #38 "Automate the creation of NBA standings in predictions page"
**Description of feature/enhancement**
The current version of NBA standings is in static format. It would be better to automate this process to we don't have to manually update standings.

**Description of implementation**
There is already a function to scrape standings: https://github.com/skekre98/NBA-Search/blob/20981aa0274be9109b6cd2e91c3d9d0e2203d4a9/modules/scraper.py#L139
Will only require p

[2020-10-03 19:37] skekre98 commented on #34
Cool, merged the PR 😄. Will go ahead and close this issue.

[2020-10-03 19:37] #34 closed

[2020-10-03 19:39] skekre98 commented on #21
Awesome! I will go ahead and close this issue, and we can discuss automation of this workflow in #38 if you'd like 😃

[2020-10-03 19:39] #21 closed

[2020-10-03 20:09] MohammedBajuaifer commented on #38
Hey @skekre98, would love to continue working on the standings!

[2020-10-03 20:25] skekre98 commented on #38
@MohammedBajuaifer that would be great! Thanks for seeing the entire component end to end 😃

[2020-10-03 20:40] MohammedBajuaifer commented on #38
Happy to do so! 😄

[2020-10-03 23:52] skekre98 commented on #12
Closing this for now, will likely need improvements in the future.

[2020-10-03 23:52] #12 closed

[2020-10-04 00:07] skekre98 opened #40 "Statistic extraction from user query: StatNode"
**Description of feature/enhancement**
Function to extract statistic from user query needs to be implemented.
https://github.com/skekre98/NBA-Search/blob/738db7e4a42502ebe2d9e3617bb6f3c9a51804e2/inference/statnode.py#L50-L52
Remaining workflow for StatNode has already been implemented.

**Description of implementation**
I would recommend using `spacy` for feature extraction/recognition. There are

[2020-10-04 18:57] MarTinoSVK commented on #40
Hi. I would like to work on this feature. I have some experience in Python and machine learning and I find this project really interesting. Let me know if you would allow me to contribute :)

[2020-10-04 19:20] skekre98 commented on #40
Hi @MarTinoSVK,  I will go ahead and assign the issue to you. Feel free to use this thread to discuss anything you find while working on this issue.

[2020-10-07 16:47] skekre98 opened #41 "generate_random_response function: StatNode"
**Description of feature/enhancement**
Add a function to generate a random response for StatNode. Currently there is a list of responses in the _response_ function:
https://github.com/skekre98/NBA-Search/blob/86e9d395b9e5a1df4df2142984aeeb2a5f55c1cd/inference/statnode.py#L29-L35
These all should be moved to `generate_random_response` along with the new responses you create.

**Description of imple

[2020-10-07 16:52] skekre98 opened #42 "generate_random_reponse function: RankNode"
**Description of feature/enhancement**
Add a function to generate a random response for RankNode. Currently there is a list of responses in the _response_ function:
https://github.com/skekre98/NBA-Search/blob/86e9d395b9e5a1df4df2142984aeeb2a5f55c1cd/inference/ranknode.py#L51-L57
These all should be moved to `generate_random_response` along with the new responses you create.

**Description of imple

[2020-10-08 15:31] gabesduhbear commented on #42
Sorry for not letting you know earlier, but I just finished this enhancement and made a PR.

[2020-10-08 15:32] gabesduhbear commented on #41
I can work on this!

[2020-10-08 17:19] skekre98 commented on #42
Awesome, thanks!

[2020-10-08 17:19] skekre98 commented on #41
Cool, thanks! I'll go ahead and assign the issue over to you.

[2020-10-08 17:22] #42 closed

[2020-10-09 19:45] skekre98 opened #44 "Creating training data for InfoNode"
**Description of feature/enhancement**
Attempting to create a new node that will answer questions about chatbot(personal info, existential questions, etc.)

**Description of implementation**
Create a function in `../preprocess.py` which will create training data for a new class in `query_classifier` labeled "info". Create queries in the form on personal/existential questions. Refer to _generate_st

[2020-10-09 20:14] skekre98 opened #45 "Authors page does not fill browser window"
**Describe the bug**
The footer portion of the authors page does not go to the bottom of the browser. Most likely an issue with the authors block not rendering far enough.

**To Reproduce**
Steps to reproduce the behavior:

1. Run application with `python main.py run`
2. Visit application running on `localhost`
3. Select **About Us** in header

**Expected behavior**
The footer should render to the

[2020-10-09 20:29] JohnnyUrosevic opened #46 "Need to install en_core_web_sm to build"
**Describe the bug**
After following the build guide in the README I got the following error
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repo
2. Install the requirements
3. `python main.py run`
4. See error

**Expected behavior**
I would expect after installing all the pip modules it would be able to run right away

**Additional context**
I solved this by running `python3

[2020-10-09 20:47] araetoro commented on #33
Hi skekre98, sounds fun, I would like to work on this issue.

[2020-10-09 20:54] skekre98 commented on #46
I am actually unable to reproduce this issue. Can you check the logs when deploying the application. The language package should be installed when the application gets deployed:
https://github.com/skekre98/NBA-Search/blob/c79f0baef4748439778c6565cd907b81e820c743/app.py#L10

Perhaps the issue is persisting because of difference in python version?

[2020-10-09 20:58] JohnnyUrosevic commented on #46
Here was the log before I ran the command manually
[code]

Here is the log after
[code]

[2020-10-09 21:06] skekre98 commented on #46
Oh this actually makes a lot of sense. I think a minor fix would be to move the install command above the module imports, but I like your idea of creating a setup script! This will likely be required when actually going to host the application anyways. I'll open an issue for it 👍. We can close this issue when it is completed.

[2020-10-09 21:09] skekre98 opened #47 "Setup script for dependencies"
**Description of feature/enhancement**
Create a script to install all dependencies.

**Description of implementation**
This will need to install everything in requirements.txt as well as `spacy` language packages.

**Why this is a good feature/enhancement**
We can remove spacy language install from app deployment.

**Additional context**
n/a

[2020-10-09 21:10] skekre98 commented on #46
This issue will be addressed by #47

[2020-10-09 22:01] skekre98 commented on #47
addressed in #49

[2020-10-09 22:22] #47 closed

[2020-10-09 22:23] skekre98 commented on #46
Fixed with #52

[2020-10-09 22:23] #46 closed

[2020-10-09 23:29] skekre98 commented on #33
@araetoro thanks! I will go ahead and assign it to you.

[2020-10-11 16:29] modernfaust commented on #44
would love to work on this. Any pointers on how I might approach this?

[2020-10-11 17:06] skekre98 commented on #44
@modernfaust that would be great! I would recommend taking a look at the generate functions for the other two labels and keeping it in that format. As far as the actual questions, that is up to you ☺️. Ideally they should be personal questions. You can test to make sure the training data stays balanced by retraining the query classification model with `python query_classifier.py`. This will print

[2020-10-11 20:44] kelvin3127 commented on #45
Hello, I am down to try if you let me fork

[2020-10-11 20:51] skekre98 commented on #45
@kelvin3127 that would be great! I'll assign this to you.

[2020-10-11 23:54] kelvin3127 commented on #45
Hello, i cant seem to get it to run on localhost:8080

[2020-10-12 02:46] skekre98 commented on #45
[code]

@kelvin3127 it should run on port 5000

[2020-10-12 02:58] skekre98 commented on #5
Being merged in #54.

[2020-10-12 02:58] #5 closed

[2020-10-12 12:58] MohammedBajuaifer commented on #38
Hey @skekre98!, sorry for taking abit of time on this task.

[2020-10-12 16:54] kelvin3127 commented on #45
Hello, I was able to get the server running, but when i make any changes to check if the problems is fixed, nothing happens on http://127.0.0.1:5001/, none of the changes are applied

[2020-10-12 17:11] kelvin3127 commented on #45
nvm got it working

[2020-10-12 17:14] kelvin3127 commented on #45
How are the styles being handled right now, the changes made in style.css arnt being applied and even when i try to inline style in home.html it is also not being applied

[2020-10-12 17:18] modernfaust commented on #44
would you like to me try implementing InfoNode?

[2020-10-12 18:34] skekre98 commented on #44
@modernfaust Yes, that would be great! I'll go ahead and close this issue. Feel free to create an issue for implementing InfoNode and assign it to yourself 😄

[2020-10-12 18:34] #44 closed

[2020-10-12 18:36] skekre98 commented on #45
Not sure, all styling is done by style.css. Perhaps you need to clear the cache on your browser? Check out https://stackoverflow.com/questions/2263096/css-file-not-refreshing-in-browser

[2020-10-12 18:43] skekre98 opened #55 "InfoNode"
**Description of feature/enhancement**
This node will handle all queries related to relaying info regarding the chatbot. This node will answer any queries regarding personal info about the chatbot. No need to be too detail oriented 😄

**Description of implementation**
Create a new file in `../inference/` labeled _infonode.py_ and implement all functionality there. Take a look at _statnode.py_ and

[2020-10-12 18:45] skekre98 commented on #55
@modernfaust here is the issue for InfoNode if you'd like to work on it!

[2020-10-12 18:45] skekre98 commented on #44
InfoNode being worked on in #55

[2020-10-12 19:36] modernfaust commented on #55
gladly, I'll take this one!

[2020-10-12 23:48] skekre98 opened #56 "Implement download function for blogs"
**Description of feature/enhancement**
Flask function to download desired blog.

**Description of implementation**
Create function in `app.py` to be called when downloading file.

**Why this is a good feature/enhancement**
Would be able to store blogs in google drive.

**Additional context**
n/a

[2020-10-13 05:19] skekre98 commented on #56
#57

[2020-10-13 05:20] skekre98 commented on #14
Closing for low priority

[2020-10-13 05:20] #14 closed

[2020-10-13 05:20] skekre98 commented on #13
Closing for low priority

[2020-10-13 05:20] #13 closed

[2020-10-13 05:22] #56 closed

[2020-10-13 05:31] skekre98 opened #58 "Create test cases for url routing"
**Description of feature/enhancement**
Create test cases to make sure url routing is not broken. Flask has a lot of built in functions to simulate routing.

**Description of implementation**
Create a class in in `test.py` to test for url routing between existing templates and outbound sites

[code]

**Why this is a good feature/enhancement**
Will help automate a lot of manual testing!

**Additiona

[2020-10-14 02:14] kelvin3127 commented on #45
The cache is not the issue right now , the style sheets are not loading properly, it seems like you are getting it from another url, I have deleted the style.css file and the css on the webpage still shows the same even with it gone.

[2020-10-14 02:47] kelvin3127 commented on #45
I found out what the issue was, I changed the routing in app.py
app = Flask(__name__)

app = Flask(__name__, static_url_path='/static')

and the css lin tags into
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

<link rel="stylesheet" type="text/css" href="../static/css/style.css">

[2020-10-14 03:11] skekre98 commented on #45
@kelvin3127 your problem is most likely with  overriding cache. The fact that you deleted style.css and it still rendered means the previous stylesheets were likely still stored in cache.

[code]
These are the only stylesheets being used on the actual page. The first two are for icons/formatting. The following two are the actual styles for the web page for elements such as the header and author ca

[2020-10-14 03:23] skekre98 opened #59 "Implement ClusterStore API"
**Description of feature/enhancement**
Implement _ClusterStore_ at `../inference/cluster_store.py`.

**Description of implementation**
Functions are already predefined and just require implementation. Feel free to expand on current design.
https://github.com/skekre98/NBA-Search/blob/db81f2da57ca848f3b75d35b946f7996c6e9e2e0/inference/cluster_store.py#L5-L10

- _data_: 2D array with values for each

[2020-10-15 00:49] skekre98 commented on #59
Skeleton was built in #60. This only requires implementation.

[2020-10-15 02:08] modernfaust commented on #55
After retraining the model and successfully passing info queries to InfoNode, how should the responses be structured? Should we select from a set of randomized responses depending on each query?

[2020-10-15 02:38] skekre98 commented on #55
I haven't put too much thought into it, but would be cool if the node "classified" the query in some way and then randomly selected from a list of responses. Check out _generate_random_response_ in ranknode.

[2020-10-16 01:48] skekre98 opened #62 "Implement build_pie in CSVBuilder"
**Description of feature/enhancement**
Implement a general purpose function to build a pie chart from a csv file assuming the last column is the label.

**Description of implementation**
https://github.com/skekre98/NBA-Search/blob/bf09e3319e444b311fdfff841f0a221fa2ad06bc/lab/csv_builder.py#L11-L13
This function should assume the last column is the label and create a pie chart to show what percenta

[2020-10-16 04:42] modernfaust commented on #55
Hey, currently trying to figure out a _"tag"_ combination exclusively for existential queries. This will help us classify the query. For example "Who are you?" is composed of ["WP", "VBP", "PRP"], whereas "What is Danny Green's average shooting?" is composed of [WP, VBZ, NNP, NNP, POS, JJ, NN].

Any guidance on this?

[2020-10-16 16:33] skekre98 commented on #55
Shouldn't this be handled by the query classifier? Why are we looking to manually classify the query? "Who are you" and "What is Danny Green's average shooting?" should be classified as _info_ and _stat_ respectively in _InferenceNetwork_. Do you mean actually identifying the existential query in info node?

[2020-10-16 16:50] modernfaust commented on #55
You're right, the query is classified already as _info_ in InferenceNetwork, my mistake. We'll need to identify the type of existential query in InfoNode to select from a list of responses.

[2020-10-16 16:58] skekre98 commented on #55
I agree, this can be done in a number of ways. We could use `spacy` to check _pos_ and _tag_ to manually classify or even train another classifier called _info_classifier_ to do it for us. This will likely require some experimentation 😃

[2020-10-16 19:31] modernfaust commented on #55
For now, I'll use `spacy` to manually classify based on _tag_ and _pos_.

[2020-10-16 23:43] skekre98 commented on #58
Addressed in #64

[2020-10-16 23:43] #58 closed

[2020-10-17 04:53] skekre98 opened #68 "Implement build_table in TableBuilder"
**Description of feature/enhancement**
Implement a general purpose function to build a table from the data being passed into the object such as _rows_ and _column_labels_.

**Description of implementation**
https://github.com/skekre98/NBA-Search/blob/b036b35aec8b4703ed899d6dd7fb0cbcb8c46d6f/lab/table_builder.py#L12-L14
This function should add the column labels and rows to the table. This data sho

[2020-10-17 12:25] samin-batra commented on #68
Hi @skekre98 , can you assign me to this issue? I'll work on it.

[2020-10-17 15:10] MarTinoSVK commented on #40
Hey. I just wanted to discuss something. I have the feature pretty much done, but it works better with spacy pack "en_core_web_md" instead of "en_core_web_sm" since in the smaller version the similarity prediction is not very accurate and stats get often misclassified. For example stat "offensive rebounds per game" gets classified as "offensive rebound percentage" since they are similar. I would l

[2020-10-17 16:14] skekre98 commented on #68
Sure, thanks!

[2020-10-17 16:20] skekre98 commented on #40
I see, if you have found that the medium pack works better, please go ahead and use that one 👍.  Can you also add the medium pack to the setup script.
[code]

So will you be loading the medium package into the class nlp variable?
[code]

[2020-10-17 16:26] MarTinoSVK commented on #40
Sure thing, I will add it to the setup script.

Yes, I'll load it into the nlp variable in order to use it in the extract_stat function.

[2020-10-17 16:45] skekre98 commented on #40
Thanks! Can you also merge with upstream master. I have added some test cases for StatNode that will be run in the ci pipeline.

[2020-10-17 18:00] skekre98 commented on #40
Merged in #70

[2020-10-17 18:00] #40 closed

[2020-10-17 20:29] nrickles3 commented on #62
@skekre98 I would be happy to take this issue.

[2020-10-17 22:13] skekre98 commented on #62
Thanks, I'll go ahead and assign it to you.

[2020-10-17 22:34] nrickles3 commented on #62
Clarification question, how will the relative values for each label be calculated?

Will the column before the label be the relative value of the label? Example:
    10,Label1
    10,Label2
    20,Label3
which would make Label1 25% (10/40), Label2 25% (10/40), and Label3 50% (20/40)?

Or will the data be based on the frequency of the label?
    data,Label1
    data,Label1
    data,Label1
    data,

[2020-10-18 00:00] skekre98 opened #72 "Implement build_bar_graph in GraphBuilder"
**Description of feature/enhancement**
Implement function to build bar graph in _GraphBuilder_ class.

**Description of implementation**
https://github.com/skekre98/NBA-Search/blob/38f129e338928572abbf9237d95b3dcc80a67773/lab/graph_builder.py#L38-L40
The function should add each bar in the list of bars to the plot. Think in terms of what would make for good visualization.

**Why this is a good fea

[2020-10-18 23:11] skekre98 commented on #55
Being merged in #74

[2020-10-19 17:00] skekre98 commented on #68
`Visualizer`, it can be found in the _lab_ directory.

[2020-10-19 17:00] #55 closed

[2020-10-19 17:03] skekre98 commented on #62
The frequency of the label, such as the one you have described in the second example. You can assume the csv will be in the format:
[code]

[2020-10-19 17:10] samin-batra commented on #68
Got it. Are you planning to display the table as part of a bar plot/any other graphs? I assume that's the use given that you want to implement it in matplotlib. Correct?

[2020-10-19 17:43] skekre98 commented on #68
Not necessarily, think of this as a way to visualize scraped data in table format. I'd recommend actually removing the _row_  input from `__init__` and perhaps adding a function called `add_row` where you add a list to the list of "rows", then in `build_table` convert the rows into a matplotlib table. Ex.
[code]

See `graph_builder.py` for an example implementation. Feel free to add any extra func

[2020-10-19 17:57] skekre98 opened #75 "Remove non-NBA filter"
**Describe the bug**
non-NBA filter is blocking queries from reaching InfoNode

**To Reproduce**
Steps to reproduce the behavior:
1. Run app
2. Open chatbot
3. Send info query
4. See error

**Expected behavior**
Should receive info node response

**Screenshots**
n/a

**Desktop (please complete the following information):**
 - OS: n/a
 - Browser: n/a
 - Version: n/a

**Additional context**
n/a

[2020-10-19 19:32] samin-batra commented on #68
@skekre98 I have made a PR. Please review and let me know if there's anything else to include.

[2020-10-19 21:30] skekre98 commented on #68
@samin-batra thanks! I have raised some change requests. Let me know if you have any questions regarding them 👍

[2020-10-20 05:13] #75 closed

[2020-10-20 05:16] skekre98 opened #78 "InfoNode Test Cases"
**Description of feature/enhancement**
Create test cases for _InfoNode_ which can be found at `../inference/infonode.py`. Add new testcases to `test.py`. See the test cases for other nodes such as _RankNode_ and _StatNode_.

**Description of implementation**
[code]

The test cases from other nodes will give you a good idea what to implement as well.

**Why this is a good feature/enhancement**
Will

[2020-10-20 05:20] skekre98 opened #79 "Add more responses in InfoNode"
**Description of feature/enhancement**
There is a method in `../inference/infonode.py` called _generate_random_response_. Add more responses to the two lists present in the method.

**Description of implementation**
https://github.com/skekre98/NBA-Search/blob/9cd44d4e61972d0200b19567389e17564029fee6/inference/infonode.py#L26-L41
Add more responses to this method.

**Why this is a good feature/enha

[2020-10-20 05:33] skekre98 opened #80 "Filter out queries that have not been classified as "info" if non-NBA"
**Description of feature/enhancement**
There is a function in `../modules/analysis.py` called _isNBA_ which can be used to determine if a query is NBA related.

If the function flags query as unsure return:
https://github.com/skekre98/NBA-Search/blob/9cd44d4e61972d0200b19567389e17564029fee6/data/text_data.py#L35

If the function flags query as nonNBA return:
https://github.com/skekre98/NBA-Search/

[2020-10-20 12:48] wenderzxavier commented on #80
Can I work on this?

[2020-10-20 16:15] skekre98 commented on #80
@wenderzxavier sure thanks, will go ahead an assign this to you.

[2020-10-20 16:17] skekre98 commented on #79
Worked on in #81

[2020-10-20 17:00] #68 closed

[2020-10-20 18:30] theillzilla commented on #79
yo ... i'll do this one. Found this tool on a hacktoberfest list and im super into it.  How many more responses do you want?

[2020-10-20 19:46] RaihanSabique commented on #59
Interesting problem. I want to work on it.
Is there any sample data of clusters and entity_map?
Redbullrish what's your progress?

[2020-10-20 21:56] skekre98 commented on #79
@theillzilla That would be awesome! Can you add 7 more responses to each list? Was hoping to have at least 10 different responses in each list before random selection. I'll go ahead and assign this issue over to you.

[2020-10-20 22:03] skekre98 commented on #59
You can assume that clusters will originally start in a format similar to this:

[code]

The lists in data may be of any size.

[2020-10-20 22:16] Redbullrish commented on #59
@RaihanSabique I haven’t really made much progress as I’m trying to learn about clustering through this, if you feel like you can easily do this feel free to work on it and I can push what I have done so far once I finish work. Would appreciate if you could also explain thought process and comment to show exactly what you’re doing. Thanks!

[2020-10-21 10:31] RaihanSabique commented on #59
@Redbullrish that's great if i can work from your existing work.
Sure, i will provide a scratch of the solution algorithms and steps ASAP here to understand the solution theoretically.
Please notify me when you push your existing code.

[2020-10-21 17:06] AColocho commented on #79
Any way I can help with this as well?

[2020-10-21 21:49] skekre98 commented on #79
@AColocho I don't think this would require the attention of multiple people, but if you are interested in working with InfoNode take a look at #78

[2020-10-21 23:01] AColocho commented on #78
I can look into this. You can assign it to me.

[2020-10-21 23:53] skekre98 commented on #78
Cool, thanks!

[2020-10-22 02:57] alee2233 commented on #72
I would like to work on this issue. In the lab readme there is this snippet for the line graph:
[code]
Should this task include writing a similar bar graph section in the readme?

[2020-10-22 16:46] skekre98 commented on #72
@alee2233 Thanks, I will assign it to you. Yes, it would be great if you could also add example usage in the readme for bar graph. I'll update the issue.

[2020-10-22 16:49] skekre98 commented on #78
PR #83

[2020-10-22 17:13] #78 closed

[2020-10-23 05:13] skekre98 opened #84 "TableBuilder display error"
**Describe the bug**
The TableBuilder at `../lab/table_builder.py` is building the plot incorrectly. When displaying the table, the axes are still showing. The entire table is also at the bottom of the display and all rows are not viewable.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo locally
2. `./setup.sh`
3. `python visualize.py`

**Expected behavior**
This should only displ

[2020-10-24 00:03] skekre98 opened #85 "Implement get_game_adv_stats"
**Description of feature/enhancement**
Implement a function to scrape the advanced statistics from and NBA game link. This function will be very similar to `get_game_stats` only difference being you'll be scraping a different table. A lot of the code is already implemented.
![Screen Shot 2020-10-23 at 4 57 10 PM](https://user-images.githubusercontent.com/18124349/97062799-5f47b000-1551-11eb-93ec-0

[2020-10-24 02:21] skekre98 opened #87 "Implement TreeBuilder class"
**Description of feature/enhancement**
Implement _TreeBuilder_ in `../lab/tree_builder.py`. This structure should act like a BST for now with left child being less than parent and right child being greater than parent. I recommend looking at the [`anytree`](https://pypi.org/project/anytree/#description) library in order to get a better understanding of how to export the tree.

**Description of imp

[2020-10-24 13:04] danhendrix commented on #85
OK if I take a stab at it?

[2020-10-24 14:02] wenderzxavier commented on #80
I removed my assignment.
I had a problem with my machine, I will be unavailable for a few days to open the PR.

[2020-10-24 16:50] skekre98 commented on #85
@danhendrix thanks, that would be great. You can find the method here:
https://github.com/skekre98/NBA-Search/blob/17d38f5a9ef99e11cd73c6241402103a7bd8880f/modules/scraper.py#L376-L395

[2020-10-24 17:49] skekre98 commented on #62
PR #88

[2020-10-24 20:19] phella commented on #87
I will work on this one.

[2020-10-24 20:38] skekre98 commented on #87
@phella Thanks! Will go ahead and assign to you. Let me know if you have any questions.

[2020-10-25 06:55] V1TO-C commented on #87
I would like to work on this.

[2020-10-25 14:21] RaihanSabique commented on #59
Hello @skekre98
I'v completed k-means clustering. Can you please check and test it?
https://github.com/RaihanSabique/NBA-Search/blob/master/inference/cluster_store.py

[2020-10-25 18:53] skekre98 commented on #87
@V1TO-C that would be great!

[2020-10-25 19:56] Redbullrish commented on #59
@RaihanSabique I can’t get kmeans to work could you explain?

[2020-10-25 20:55] skekre98 commented on #59
@RaihanSabique really well done. Thanks for going above and beyond with the extra getter functions! I have added a few comments to the PR, but besides that everything looks great 👍

[2020-10-25 22:40] RaihanSabique commented on #59
If you want to understand the clustering techniques theoretically please read chapter-5 from this book [Data Mining Introductory and Advance Topics](https://www.amazon.com/Data-Mining-Introductory-Advanced-Topics/dp/0130888923). This is really a great book to understand the concepts of all clustering algorithms.
After that read the documents of [sklearn.cluster.KMeans](https://scikit-learn.org/sta

[2020-10-26 02:11] skekre98 commented on #85
Merged in #90

[2020-10-26 02:11] #85 closed

[2020-10-26 08:22] samin-batra commented on #84
Hey @skekre98 I worked on creating this function, I can help with this bug.

[2020-10-26 10:13] z-siddiqi commented on #84
Hey,

This is just a case of turning the axis off and setting the table location to center, something like this:

`self.plt.axis('off')`
`self.plt.table(loc='center',cellLoc='center',cellText=self.cell_txt,colLabels=self.column_labels)`

![Figure_1](https://user-images.githubusercontent.com/57043176/97160042-b0cf8500-1773-11eb-935f-8f40c25a9a9d.png)

[2020-10-26 15:25] z-siddiqi commented on #80
Hey,

I've been working on this and would like to be assigned it. For the sake of testing, what kind of query results in an unsure response? Also where do you want me to put the tests for it, within the Analysis API tests or a new class?

[2020-10-26 16:39] skekre98 commented on #80
@z-siddiqi thanks for looking into testing as well. Let's create a new class for testing the inference network since one does not exist as of today. To be honest it doesn't really matter if queries are classified as unsure or non-nba since these are both handled the same way. For testing, let's handle these type of scenarios:

- Query was incorrectly classified as `stat`, _InferenceNetwork_ should

[2020-10-26 18:18] #84 closed

[2020-10-26 21:43] skekre98 commented on #80
@z-siddiqi really great work! I've requested some minor changes to promote good practices.

[2020-10-27 03:37] skekre98 commented on #59
Will close this issue and split it into multiple other issues for remaining functions.

[2020-10-27 03:37] #59 closed

[2020-10-27 03:55] skekre98 opened #96 "Implement optimal agglomerative clustering"
**Description of feature/enhancement**
This function should create the optimal clusters via agglomerative clustering in the _ClusterStore_.

**Description of implementation**
https://github.com/skekre98/NBA-Search/blob/0564a752c77a7c420890c44e6873c53111251fe5/inference/cluster_store.py#L78
There is likely an elegant way of doing this with `sklearn` without having to find the optimal number of clus

[2020-10-27 03:58] skekre98 opened #97 "Implement agglomerative clustering until target number of clusters is reached"
**Description of feature/enhancement**
This function should create _c_ clusters via agglomerative clustering in the _ClusterStore_.

**Description of implementation**
https://github.com/skekre98/NBA-Search/blob/0564a752c77a7c420890c44e6873c53111251fe5/inference/cluster_store.py#L84
This function should follow a [Heirarchical Approach](https://www.datanovia.com/en/lessons/agglomerative-hierarchical

[2020-10-27 04:13] skekre98 opened #98 "Implement function to find average similarity between clusters in ClusterStore"
**Description of feature/enhancement**
This function should find the average similarity between all the clusters in the _ClusterStore_.

**Description of implementation**
https://github.com/skekre98/NBA-Search/blob/0564a752c77a7c420890c44e6873c53111251fe5/inference/cluster_store.py#L89
This function should set `self.avg_similarity` to the calculated value and shouldn't return anything. The metric

[2020-10-27 07:05] z-siddiqi commented on #80
Yeah those changes were a good idea, I've made them.

[2020-10-27 09:12] RaihanSabique commented on #96
@skekre98 i can do this. Need some times (approximate 1 week). Currently I'm little bit busy with some other staff.

[2020-10-27 15:30] #80 closed

[2020-10-27 15:31] skekre98 commented on #96
@RaihanSabique no worries, take you time ☺️. Thanks for seeing the entire component through!

[2020-10-27 23:34] #72 closed

[2020-10-28 02:41] skekre98 opened #99 "Migrate inference tests"
**Description of feature/enhancement**
The _test.py_ file is getting a bit cluttered, move the inference related tests to their own file called _inference_tests.py_.

**Description of implementation**
Migrate the _TestStatNode_, _TestRankNode_, _TestInfoNode_, and _TestInferenceNetwork_ classes into the new file.

**Why this is a good feature/enhancement**
Would be easier to keep track of tests if

[2020-10-28 02:45] skekre98 opened #100 "Migrate module tests"
**Description of feature/enhancement**
The _test.py_ file is getting a bit cluttered, move the module related tests to their own file called _module_tests.py_.

**Description of implementation**
Migrate the _TestScraper_ and _TestAnalysis_ classes into the new file.

**Why this is a good feature/enhancement**
Would be easier to keep track of tests if they are in their own separate files.

**Additi

[2020-10-28 02:51] skekre98 opened #101 "Migrate flask tests"
**Description of feature/enhancement**
The _test.py_ file is getting a bit cluttered, move the flask related tests to their own file called _flask_tests.py_.

**Description of implementation**
Migrate the _TestPreprocess_ and _TestRouting_ classes into the new file.

**Why this is a good feature/enhancement**
Would be easier to keep track of tests if they are in their own separate files.

**Additi

[2020-10-28 06:53] z-siddiqi commented on #99
I can take this one.

[2020-10-28 07:32] Sameer-Mann commented on #99
@z-siddiqi i have opened a pull request for the same.

[2020-10-28 13:27] koushikjoshi commented on #101
I tried to execute main.py and it shows this:
D:\Github\NBA-Search>python main.py train
Removing previous training instance
No previous instance detected

[2020-10-28 16:53] skekre98 commented on #101
Not a bug, it is just trying to remove a previous training instance for a model that no longer exists. Also might be in our interest to refactor `main.py` entirely since a lot of the modelling has changed. I will open an issue for this. As for this issue, it is currently being working on in #102

[2020-10-28 16:56] skekre98 commented on #99
@Sameer-Mann thanks for taking all three issues up! Next time can you wait for the issue to be assigned to you so we can avoid confusion 👍 . I have linked your PR too all three issues for now.

[2020-10-28 17:27] skekre98 opened #104 "Refactor main.py to remove excess blocks"
**Description of feature/enhancement**
`main.py` still contains components to train models and remove the old `chatterbot` training instance even though this is outdated. This needs to be removed.

**Description of implementation**

This component is looking to delete an older training instance of `chatterbot` that no longer exists(Remove it).
https://github.com/skekre98/NBA-Search/blob/756bf8c023

[2020-10-28 17:28] skekre98 commented on #104
@koushikjoshi would you want to work on this?

[2020-10-28 18:20] koushikjoshi commented on #104
Sure! On it already

[2020-10-28 18:31] koushikjoshi commented on #62
@skekre98 Can I try my hand on this if it hasn't been done yet?

[2020-10-28 18:41] skekre98 commented on #62
Hi @koushikjoshi this is currently being worked on by @nrickles3. If you see an assignee, that means the issue is being worked on by them 😄

[2020-10-28 18:43] koushikjoshi commented on #62
Oh! I'm sorry. This is going to take some getting used to 😆

[2020-10-28 21:17] #104 closed

[2020-10-29 17:53] #99 closed

[2020-10-29 17:53] #100 closed

[2020-10-29 17:53] #101 closed

[2020-10-29 17:54] #62 closed

[2020-10-30 16:20] Ervin66 commented on #41
is this issue still open?

[2020-10-30 16:30] skekre98 commented on #41
@Ervin66 Yes this is still open. Would you like me to assign it to you?

[2020-10-30 16:32] Ervin66 commented on #41
yes please

[2020-10-31 19:03] #41 closed

[2020-11-04 00:33] skekre98 opened #111 "Create a better Chatbox"
**Description of feature/enhancement**
Current chatbox is poorly designed. If a front end expert would like to take up designing a new chatbox, that would be greatly appreciated!

**Description of implementation**
Improve on this chatbox:
<img width="986" alt="Screen Shot 2020-11-03 at 4 30 58 PM" src="https://user-images.githubusercontent.com/18124349/98055381-339ab480-1df2-11eb-9502-05d021358c5b

[2020-11-04 00:40] skekre98 opened #112 "Improve documentation in Transformer module"
**Description of feature/enhancement**
Current documentation in `../modules/transformer.py` is lacking. Could use better documentation.

**Description of implementation**
See `../modules/scraper.py` for examples of documentation. Should be in following format:
[code]

**Why this is a good feature/enhancement**
Better documentation would make it easier for first time contributors to jump right into

[2020-11-04 00:42] skekre98 opened #113 "Improve documentation in Inference Network class"
**Description of feature/enhancement**
Current documentation in `../inference/inference_network.py` is lacking. Could use better documentation.

**Description of implementation**
See `../modules/scraper.py` for examples of documentation. Should be in following format:
[code]

**Why this is a good feature/enhancement**
Better documentation would make it easier for first time contributors to jump ri

[2020-11-04 00:43] skekre98 opened #114 "Improve documentation in Info Node class"
**Description of feature/enhancement**
Current documentation in `../inference/infonode.py` is lacking. Could use better documentation.

**Description of implementation**
See `../modules/scraper.py` for examples of documentation. Should be in following format:
[code]

**Why this is a good feature/enhancement**
Better documentation would make it easier for first time contributors to jump right into

[2020-11-04 00:44] skekre98 opened #115 "Improve documentation in Stat Node class"
**Description of feature/enhancement**
Current documentation in `../inference/statnode.py` is lacking. Could use better documentation.

**Description of implementation**
See `../modules/scraper.py` for examples of documentation. Should be in following format:
[code]

**Why this is a good feature/enhancement**
Better documentation would make it easier for first time contributors to jump right into

[2020-11-04 00:45] skekre98 opened #116 "Improve documentation in Rank Node class"
**Description of feature/enhancement**
Current documentation in `../inference/ranknode.py` is lacking. Could use better documentation.

**Description of implementation**
See `../modules/scraper.py` for examples of documentation. Should be in following format:
[code]

**Why this is a good feature/enhancement**
Better documentation would make it easier for first time contributors to jump right into

[2020-11-04 20:01] kelaaron commented on #111
Hi @skekre98, is this issue still available? If so myself and @sbeinlich would love to work on it

[2020-11-04 20:38] skekre98 commented on #111
Hi @kelaaron, it is still available. I'll go ahead and assign the issue over to you two. My front end knowledge is pretty poor so it would be greatly appreciated if you guys could take lead on this 😃 . Much appreciated!

[2020-11-05 13:41] Pokiharena opened #117 "Joblib import faillure"
**Describe the bug**
The import call for the Joblib package seems to have changed.

**To Reproduce**
Steps to reproduce the behavior:
1. clone the repository
2. run the setup command `./setup.sh'

**Expected behavior**
When running the `train_models` the code fails to import the joblib library of the corresponding python script `query_classifier.py`
**Screenshots**
![image](https://user-images.git

[2020-11-05 21:12] skekre98 commented on #117
Hi @Pokiharena,thanks for creating this issue. I see no reason to use the sklearn joblib vs utils, so please feel free to update `query_classifier.py` with your fix. I'll go ahead and assign this issue to you.

[2020-11-05 21:13] skekre98 commented on #79
@theillzilla any update on this issue?

[2020-11-05 21:14] skekre98 commented on #28
@JohnnyUrosevic any update on this issue?

[2020-11-05 21:14] skekre98 commented on #33
@araetoro any update on this issue?

[2020-11-05 21:14] skekre98 commented on #38
@MohammedBajuaifer any update on this issue?

[2020-11-05 21:15] skekre98 commented on #45
@kelvin3127 any update on this issue?

[2020-11-05 21:15] skekre98 commented on #87
@V1TO-C any update on this issue?

[2020-11-05 22:10] JohnnyUrosevic commented on #28
@skekre98 Hello, I've been unexpectedly extremely busy this month and haven't had a chance to work on it. If you want to assign it to someone else that is okay, otherwise I will look for a time to work on it

[2020-11-06 21:17] AColocho commented on #79
@skekre98 I'm still happy to help with this if you need me to.

[2020-11-08 23:35] amangal2000 commented on #98
Hi! I would like to work on this. I am a little busy with school and will have to learn some data science concepts to get going on this, so it may take me a few weeks if thats okay.

[2020-11-08 23:38] amangal2000 commented on #97
I would like to try this!

[2020-11-08 23:39] amangal2000 commented on #87
Is anyone still working on this? I am interested in working on it.

[2020-11-08 23:52] iamalexk commented on #111
Hey @skekre98, I know you assigned this issue a couple of days ago, but do you think I could take a shot at it as well?

[2020-11-08 23:54] iamalexk commented on #45
Hi @skekre98 if this issue is still open I'd love to give it a shot

[2020-11-09 16:40] skekre98 commented on #45
@iamalexk sure I'll assign this over to you.

[2020-11-09 16:44] skekre98 commented on #87
Hi @amangal2000, unfortunately a PR is already open for this issue in #118. Feel free to take up any of the open issues.

[2020-11-09 16:44] skekre98 commented on #97
@amangal2000 Sure! That would be greatly appreciated.

[2020-11-09 16:45] skekre98 commented on #98
@amangal2000 Sure! That would be great. Please take your time.

[2020-11-09 16:46] skekre98 commented on #79
@AColocho sure, please take this up! I'll go ahead and assign this to you.

[2020-11-09 20:56] iamalexk commented on #38
@skekre98 Hey I plan on working on #111 and #45 but could I also try this issue if I find the time?

[2020-11-09 22:45] skekre98 commented on #38
@iamalexk Sure, thanks for taking so many issues!

[2020-11-10 23:54] #79 closed

[2020-11-12 18:52] kelaaron commented on #33
Hi @skekre98, is this issue up for grabs? I'd like to work on it if possible.

[2020-11-12 18:54] kelaaron commented on #96
Hi @skekre98, is this issue available? Would love to work on it but might need a couple weeks to get familiar with agglomerative clustering.  @RaihanSabique, are you still trying to implement this?

[2020-11-12 18:56] araetoro commented on #33
Sorry I'm slammed with work and school projects so if someone else would
like to take this ticket go for it!

On Thu, Nov 12, 2020, 11:53 AM Aaron Kelley <notifications@github.com>
wrote:

[2020-11-12 19:10] kelaaron commented on #28
Hi @skekre98, I can take this issue. It will probably take me a couple weeks to get familiar with everything but I'd love to work on it!

[2020-11-12 20:51] skekre98 commented on #28
@kelaaron Sure, that would be great!

[2020-11-12 20:53] skekre98 commented on #96
@kelaaron Awesome, this issue may require more than one person. Thanks!

[2020-11-14 18:40] #111 closed

[2020-11-15 09:09] RaihanSabique commented on #96
Sorry. I was little busy with my graduate admission. Hope now i can help @skekre98

[2020-11-16 17:41] skekre98 commented on #96
Hi @RaihanSabique, please go ahead! I think @kelaaron is also interested in working on this if you'd like to guide him on what you've already done with the other functions.

[2020-11-16 17:43] #116 closed

[2020-11-17 01:10] kelaaron commented on #28
@skekre98 I've started thinking about implementation for this. If I understand correctly, this test script should take in model to test (such as query_classifier.py) and test cases (hypothetically made of values from query.csv, as well as other obscure queries for query_classifier), run those tests on the given model, and return the percentage of queries which had their respective class accurately

[2020-11-19 01:16] skekre98 opened #122 "Statnode generating incorrect responses based on variables"
**Describe the bug**
The stat node is generating incorrect responses such as :

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open the chatbox
2. Make a stat query
3. See incorrect response

**Expected behavior**
[code]

**Screenshots**
![](https://user-images.githubusercontent.com/45439410/98996402-cb8a5380-2500-11eb-9bfc-ab39b92d1fe7.png)

**Desktop (please complete the following

[2020-11-19 01:21] skekre98 opened #123 "Grammatical errors in Stat Node response"
**Describe the bug**
Quite a few grammatical errors in responses being received from Stat Node.

Examples:

https://github.com/skekre98/NBA-Search/blob/f7939c9176001c4e9ecfa423eaf0dee25b077a08/inference/statnode.py#L26

https://github.com/skekre98/NBA-Search/blob/f7939c9176001c4e9ecfa423eaf0dee25b077a08/inference/statnode.py#L30

**To Reproduce**
Steps to reproduce the behavior:
1. Open the chatbo

[2020-11-19 01:27] skekre98 opened #124 "Misclassification of stat label in Stat Node"
**Describe the bug**
The Stat Node is currently incorrectly classifying some stat labels.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open the chatbox
2. Make a stat query
3. See incorrect stat classification

**Expected behavior**
[code]

**Screenshots**
![](https://user-images.githubusercontent.com/45439410/98996402-cb8a5380-2500-11eb-9bfc-ab39b92d1fe7.png)

**Desktop (please c

[2020-11-22 16:05] Florent18570 commented on #115
Hello, I will try to work to solve this issue.

[2020-11-22 16:05] Florent18570 commented on #123
Hello, I will try to work to solve this problem.

[2020-11-22 22:47] iamalexk commented on #45
Hey @skekre98 I haven't been able to replicate this issue when I run it locally. Has this issue already been resolved? I've included a screenshot of what the "About Us" page looks like when I run it.

![Uploading Screen Shot 2020-11-22 at 5.45.24 PM.png…]()

[2020-11-23 02:25] AColocho commented on #114
Ill take this one. If I may suggest, can we change the doc string to this:
`
"""
Function description
----------
input : type
    description of input parameter
-------
Returns
output : type
    description of output parameter
"""
`

[2020-11-23 06:40] skekre98 commented on #123
@Florent18570 thanks! That would be great 😄

[2020-11-23 06:53] skekre98 commented on #45
@iamalexk That is very strange as this issue was never resolved. I am still seeing this problem on Firefox and I originally saw it on Chrome. What browser are you using?
![Screen Shot 2020-11-22 at 10 51 01 PM](https://user-images.githubusercontent.com/18124349/99935398-7aa30800-2d15-11eb-9e04-4a3e35f9f507.png)

[2020-11-23 06:56] skekre98 commented on #114
Sure, that would be great! There is a plan to add a code formatter such as [Black](https://github.com/psf/black) down the road so that will take care of formatting the comments as well. At the moment, I was hoping to have more verbose docs for each of the important classes such as the nodes.

[2020-11-23 06:57] skekre98 commented on #115
Hi @Florent18570, that would be greatly appreciated 😄

[2020-11-23 07:03] skekre98 commented on #28
Hi @kelaaron, really sorry about the late response. I must've missed your message. This sounds like a good starting point! One thing to keep in the back of your mind is that this framework should be expandable to analyze other model attributes beyond just accuracy in the future such as latency or validation results. This implementation definitely sounds like it's on the right track.

[2020-11-23 21:26] #114 closed

[2020-11-23 22:49] #122 closed

[2020-11-25 02:40] iamalexk commented on #45
@skekre98 I'm currently using Google Chrome on MacOS Catalina

[2020-11-25 04:00] skekre98 commented on #45
@iamalexk That's really strange, I'm still getting the issue on Chrome. Are you viewing the browser in Full Screen?

[2020-11-26 06:57] abhijeetsharma200 commented on #123
Hi, I maybe wrong here but isn't the issue here in the values of the variables `name, stat` rather than the grammar of the sentence?

[2020-11-26 08:05] kelvin3127 commented on #45
I was recently using bootstrap to work on a project and i ran into the same problem with the little part at the bottom so I believe it might be a bootstrap CSS problem, but can probably fix using inline or overlap bootstrap CSS by using "!important"

[2020-11-26 19:32] skekre98 commented on #123
@abhijeetsharma200, yes that was a different issue entirely, but it was fixed in #126

[2020-12-01 17:49] AidanKenney commented on #124
Hi, I'm interested in working on this. Should I wait for assignment or go ahead and start? Thanks!

[2020-12-01 18:56] skekre98 commented on #124
@AidanKenney, that would be great! I'll go ahead and assign the issue over to you.

[2020-12-01 20:50] AidanKenney commented on #124
@skekre98 I think I'm zero-ing in on where the issue is, but I'm having trouble debugging without being able to see what "nlp" and "similarity" are doing to the chat entries. I've tried printing, but that doesn't show me anything. I'm sorry if this is something obvious, but have any advice?

[2020-12-01 20:54] #98 closed

[2020-12-01 21:34] #97 closed

[2020-12-01 22:27] skekre98 commented on #124
@AidanKenney sorry about the lack of documentation. I've been meaning to get on that. `self.nlp` is the spacy english model class that is doing all the natural language processing. I'm not sure what you are looking for exactly, but there are a lot of built in functions in spacy that allow you to analyze text that has been processed. Here is a helpful guide about how to use spacy: https://spacy.io/

[2020-12-01 22:31] #28 closed

[2020-12-01 22:44] AidanKenney commented on #124
Thank you! I will look more into spacy soon.

I have a hunch that the issue is with the "similarity" portion of the function. The reason being that writing "total rebounds" instead of just "rebounds" gives you the answer you would expect, I imagine because "total rebounds" is included word-for-word in the total_stat_map dictionary.

[code]

The problem then is that for some reason, "3-point field-

[2020-12-01 23:17] AidanKenney commented on #124
After playing around with spaCy's similarity method, I see there's a really strange comparison between "rebound" and "3-point" -- it puts them at 0.99999 similarity, above the 0.7 threshold in the StatNode class. Gonna keep looking into it!

[code]
[code]

[2020-12-02 00:02] skekre98 commented on #124
@AidanKenney this is actually really great to know! In fact, I think you may have identified the bug. I see no reason we have to use spacy for string similarity, so let's think of other options that may be better suited here. Some options that I have found are the following:
* [FuzzyWuzzy](https://github.com/seatgeek/fuzzywuzzy) - python library specifically for string matching.(We are actually al

[2020-12-02 00:21] skekre98 opened #132 "Remove usage of os.system and refactor to use modules"
**Description of feature/enhancement**
Currently there are quite a few uses of `os.system` in the repository. These should be converted module implementations.
https://github.com/skekre98/NBA-Search/blob/3497f5b8053783e123dc36d52b762493825823df/main.py#L19-L27

**Description of implementation**
Current implementation:
[code]

Better implementation:
[code]

**Why this is a good feature/enhancement*

[2020-12-02 00:28] skekre98 opened #133 "Refactor codebase to add code formatting/linting"
**Description of feature/enhancement**
The current repository has quite a few different styles of code which is not very OSS friendly. It would be useful to use a formatting tool such as [Black](https://black.readthedocs.io/en/stable/) and `pre-commit` to format/lint codebase.

**Description of implementation**

- [ ] Create a pre-commit yaml configuration
- [ ] Add [Black](https://black.readthedo

[2020-12-02 01:40] AidanKenney commented on #124
@skekre98 Sounds good! Thanks for putting this together.

[2020-12-02 22:07] #124 closed

[2020-12-05 05:15] iamalexk commented on #45
@skekre98 I checked in full screen and my footer does seem to be reaching the bottom of the screen. @kelvin3127 when you run it, does the author page have the white space at the bottom?

[2020-12-06 04:09] iamalexk commented on #38
@skekre98 working on this issue and turns out the get_standings function doesn't actually work. Was implementing that function a part of this issue or was this issue not known before. I'll try to fix the get_standings function but just wanted to let you aware of the issue. Also, I'm not familiar with web scraping so please bare with me as I try to fix the get_standings functions.

[2020-12-07 17:51] skekre98 commented on #38
I was definitely not aware of this issue. Can you describe the bug and also possibly create a separate issue for tracking purposes. This is the first I am hearing about `get_standings` not working.

[2020-12-07 17:54] iamalexk commented on #38
@skekre98 I've fixed the get_standings function and automated the standings already so no need to open another issue. I'll be sending a pull request later today after fixing some configuration issue with my github

[2020-12-07 17:55] #133 closed

[2020-12-07 17:56] skekre98 commented on #38
@iamalexk awesome, really appreciate it! I'll go ahead and update this issue to include the bug fix.

[2020-12-07 19:25] abhijeetsharma200 commented on #132
Hi, I had like to work on this if it is available.

Also from what I understand Unittest needs a command line input to run. So I am not sure how to implement modules for lines 19-23.

[2020-12-07 19:38] skekre98 commented on #132
@abhijeetsharma200 that would be great! We can ignore the command line input for now. You will however need to add some kind of `run` method in the test files that you will call from `main.py`.

[2020-12-07 21:04] iamalexk commented on #38
@skekre98 just submitted pull request to resolve this issue. I accidentally included some changes to another file that I needed to make in order to run locally, so you can ignore those.

[2020-12-08 21:55] abhijeetsharma200 commented on #132
Hey, so I have implemented modules for `sys.argv[1] == "run"` and `sys.argv[1] == "data"`. However, I am still unsure how to implement the `run` method. So, I am currently looking at [https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-vii-unit-testing-legacy](url). Please let me know if there are any better resources.

[2020-12-09 00:38] skekre98 commented on #132
Hi @abhijeetsharma200, "run" is actually already part of the `unittest` library. You would simply need to import the test classes from each file and run them with the unittest library. Here is a good reference on how it works: https://stackoverflow.com/questions/31559473/run-unittests-from-a-different-file

In our case, you would be importing classes such as `TestPreprocess`, `TestRouting`, etc...

[2020-12-11 22:54] skekre98 opened #138 "Standings display issue on Firefox"
**Describe the bug**
The standings are not being displayed correctly on the predictions page on Firefox.

![image](https://user-images.githubusercontent.com/18124349/101962226-75bcd000-3bc0-11eb-8e59-54ca5ef6bd0c.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Run the web app
2. Open the app in Firefox
3. Open the **Predictions** page under **Insights**
4. Scroll down to standings

**Ex

[2020-12-13 18:45] #38 closed

[2020-12-15 17:03] AidanKenney commented on #138
Hi @skekre98, I'm happy to look into this. So I'm clear, is the problem with the win/loss stats, the dividing lines on the table not showing up, or both? And for the stats, which is the the correct one:  "Lakers: 20 wins, 20 losses" or "Lakers, 52 wins, 19 losses"?

[2020-12-15 23:25] skekre98 commented on #138
Hi @AidanKenney, it is the dividing lines not showing up. The standings function was merge in a separate PR. I'll go ahead and assign the issue over to you 😄

[2020-12-16 07:12] Nahoyhp commented on #112
Hi, I am keen to taking this up.

I am wondering if I should write the documentation within the class / method, something similar to the image below since it seems to be the convention in Python.

![image](https://user-images.githubusercontent.com/54650877/102316440-e3963c80-3fb0-11eb-976a-bc7bccbaa526.png)

If you don't mind, I can do #113 as well. But if you want to leave it for other first time

[2020-12-16 07:15] Nahoyhp commented on #112
And can I add checks within the functions to be more defensive?
Something like checking if the argument `text` is of type `String` and raising exception with message such as "Text passed into clean_text() in ../modules/transformer.py is not a String".

[2020-12-16 17:03] skekre98 commented on #112
Hi @Nahoyhp, I really appreciate you taking this up.  I just took a quick look at your PR and the convention you are following is perfect! It would be awesome if you could take a look at #113 as well 😄

[2020-12-16 17:06] #112 closed

[2020-12-17 13:51] Nahoyhp commented on #117
This is a strange issue because for me, I only got flagged out in `inference/inference_network.py`.
I will make the PR that changes the two imports for `import joblib`.

[2020-12-17 14:09] Nahoyhp opened #142 "Missing Chat Window"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository.
2. Run "./setup.sh"
3. Run `python3 main.py run`
4. Click on the `Let's Chat`

**Expected behavior**
There should be a chat window to talk to the bot.

**Screenshots**
Missing chat window.

**Desktop (please complete the following information):**
 - O

[2020-12-17 20:41] #117 closed

[2020-12-17 20:48] skekre98 commented on #142
This actually isn't a bug. The entire window is the chatbox. The input is at the bottom of the screen 😄
<img width="1678" alt="Screen Shot 2020-12-17 at 12 44 36 PM" src="https://user-images.githubusercontent.com/18124349/102541863-d0917400-4065-11eb-98d9-d04c6a044b6e.png">

However I do think it would be useful to make the window sizes dynamic. This has been an ongoing problem in front-end. In fa

[2020-12-22 20:13] AidanKenney commented on #138
Hi @skekre98,  I've been looking into this and it's a really weird Firefox bug that goes back quite a while. Basically, adding "background-clip: padding-box" fixes it when using inspector tools, but if you add that to the CSS, it won't show up in the browser. It seems Firefox paints over borders under certain conditions.

I haven't found a full fix yet, but here is some of the documentation I've b

[2020-12-22 22:41] skekre98 commented on #138
I see, could it be an issue with overriding the cache in your browser? Or is the issue that Firefox is overriding `background-clip: padding-box` when the CSS is being interpreted?

[2020-12-23 18:41] AidanKenney commented on #138
Good call! I cleared the cache and found it to be working as desired. I also removed a max-width property from the bootstrap styling that was making the team name column wrap/bunch up in Firefox, unlike the display in Chrome.

[2020-12-24 19:53] skekre98 commented on #138
Fixed in #143

[2020-12-24 19:53] #138 closed

[2021-01-04 18:34] #132 closed

[2021-01-04 18:34] #142 closed

[2021-01-04 18:53] skekre98 opened #145 "create_html_bracket fails when playoff brackets do not exist"
**Describe the bug**
Prediction routing test throws an error for 2021 due to lack of playoff data.
https://github.com/skekre98/NBA-Search/blob/0bb22568befaf307fd13ce0d2036fd66fb6d150f/modules/scraper.py#L26-L27
The error is arising from the year now being set to 2021.

**To Reproduce**
Steps to reproduce the behavior:
1. Run tests
[code]
2. See error
[code]

**Expected behavior**
Expects `200` res

[2021-01-05 23:14] MishalAshraf commented on #145
New to working on open source projects so please bear with me! I tried to do start working on this issue, following the steps outlined in the Contributing Guideline. I got the following error:

<img width="1309" alt="Screen Shot 2021-01-05 at 3 13 57 PM" src="https://user-images.githubusercontent.com/53178950/103709965-a518ef80-4f68-11eb-9597-f813eef4ef85.png">

I got a similar error when working

[2021-01-05 23:31] skekre98 commented on #145
Hi @MishalAshraf, thanks for looking into this! I can't say what is going on for certain at first glance, but it seems to me you are running an older version of `python` and `pip`. You can check what versions you are on with the following commands.
[code]
This project requires you to be running python3.5+. Let me know if you would like me to assign this issue over to you 😄

[2021-01-06 16:51] MishalAshraf commented on #145
Thanks @skekre98 , I figured out my issue.

I updated the create_html_bracket function as suggested above. I am getting a type error which seems to be related to the playoff_map being populated with NoneTypes as opposed to numbers or a string. Thoughts on this?

[2021-01-06 20:12] skekre98 commented on #145
Hi @MishalAshraf, I am unsure about the first issue, but to fix the second issue can you add a null pointer check on line 189 in scraper:
https://github.com/skekre98/NBA-Search/blob/0bb22568befaf307fd13ce0d2036fd66fb6d150f/modules/scraper.py#L189
Should look something like this:
[code]

Yes, please open up a PR with these changes. It would be easier to work on the fix from there 👍

[2021-01-06 22:38] MishalAshraf commented on #145
<img width="717" alt="Screen Shot 2021-01-05 at 4 14 12 PM" src="https://user-images.githubusercontent.com/53178950/103826966-bfb49c80-502c-11eb-9acd-c98808bb47b4.png">

Sure, see photo for screen shot!
Updated and added PR.

[2021-01-06 23:36] skekre98 commented on #145
@MishalAshraf my apologies, I see the issue now. The html templates are still referencing indices in the playoff bracket. Instead of returning an empty playoff map, we will need to return a playoff map populated by empty strings. We can insert it after this line:
https://github.com/skekre98/NBA-Search/blob/0bb22568befaf307fd13ce0d2036fd66fb6d150f/modules/transformer.py#L94-L95

The code will look

[2021-01-06 23:51] MishalAshraf commented on #145
@skekre98 sure, I can update this! I wonder if we can adjust in a way that will handle the adjusted playoff tournament situation going on this year?

[2021-01-07 01:07] skekre98 commented on #145
@MishalAshraf can you elaborate on this? Will the playoffs be different this year than previous years?

[2021-01-07 05:24] MishalAshraf commented on #145
`[2021-01-06 21:17:10,857] ERROR in app: Exception on /predictions [GET]
Traceback (most recent call last):
  File "/Users/mishal/Documents/dev/NBA-Search/tutorial-env/lib/python3.9/site-packages/flask/app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/mishal/Documents/dev/NBA-Search/tutorial-env/lib/python3.9/site-packages/flask/app.py", line 1952, in full_

[2021-01-07 19:18] skekre98 commented on #145
@MishalAshraf can you try changing the finals entry from `"f" : [[("",""), ("","")]]` to `"f" : [("",""), ("","")]`. I think it might be an index issue. Also did you receive this error when running the tests or the actual app?

[2021-01-07 23:34] MishalAshraf commented on #145
I applied this. running tests showed no errors. running the app and going to predictions also rendered. It seems however that they updated the bracket now.
<img width="1174" alt="Screen Shot 2021-01-07 at 3 32 22 PM" src="https://user-images.githubusercontent.com/53178950/103956658-df67c580-50fd-11eb-8fec-78fde3260e77.png">

[2021-01-07 23:46] skekre98 commented on #145
@MishalAshraf can you elaborate on this?

[2021-01-08 00:08] #145 closed

[2021-01-11 21:29] dksmith328 commented on #45
Hi there. Is this issue still open? I may be able to resolve.

[2021-01-11 21:48] skekre98 commented on #45
@dksmith328, this issue was mostly resolved however there is still some issue with rendering on Firefox if you would like to look into it.

[2021-01-11 23:17] dksmith328 commented on #45
@skekre98, I was getting a small amount of white space on Chrome, Firefox, and Edge. I seem to have corrected the issue.

[2021-01-15 20:19] #45 closed

[2021-01-19 17:57] #115 closed

[2021-01-19 17:57] #123 closed

[2021-01-26 08:33] Florent18570 commented on #113
Hello can you affiliate me this issue ?

[2021-01-30 08:03] moki1202 opened #150 "code duplication in .../modules/scraper.py"
duplication of code from line 336 to line 375

1. Go to 'modules'
2. Click on 'scraper.py'
3. Scroll down to 'line 336 and line 395'
4. See error (code duplicated)

![code](https://user-images.githubusercontent.com/73598347/106351065-c36fd200-62ff-11eb-8416-71cc5c617adf.PNG)

[2021-03-10 09:51] shivangigujar23 commented on #33
Hey, Is this issue up for grab? If yes, I would like to do enhancement.

[2021-03-11 18:15] skekre98 commented on #33
Yes, please feel free to take it up 😄, Thanks!

[2021-03-27 19:46] smwitkowski commented on #113
Just added some documentation for this file in #152.

[2021-03-28 19:04] callofangel opened #153 "Adding a route"
The goal is to get the statistics of players and teams.
For this we thought to use REST API to be able to use it on any platform

[2021-04-13 19:52] shirleyp1097 opened #155 "Having trouble downloading dependencies"
When I run the ./setup.sh in my Mac terminal , I get back the following error:

Collecting pandas>=0.24.2
  Using cached pandas-1.2.4-cp39-cp39-macosx_10_9_x86_64.whl (10.7 MB)
ERROR: Could not find a version that satisfies the requirement scikit-learn==0.22.2
ERROR: No matching distribution found for scikit-learn==0.22.2
/Library/Frameworks/Python.framework/Versions/3.9/bin/python3: No module nam

[2021-04-13 20:00] skekre98 commented on #150
Apologies for my absence, I agree the code does not need to be written twice over for advanced and regular stats. If you would like to clean up the code I can go ahead and assign the issue over to you.

[2021-04-13 20:01] skekre98 commented on #153
Hi @callofangel, apologies for my absence. Can you elaborate on what you are trying to accomplish here? Currently we are using the modules directory to hold any web scraping related work.

[2021-04-13 20:06] skekre98 commented on #155
Hi @shirleyp1097, I am unfortunately unable to reproduce your issue:
[code]

I notice you are running this on python3.9. Perhaps try setting the repo up with 3.7 or 3.6. These are the version that this codebase has been built on and tested with.

[2021-04-13 20:57] moki1202 commented on #150
no worries :) ill do it in a day or two .

[2021-04-13 21:02] callofangel commented on #153
I would like to create other APIs to export NBA team stats to create the predictions page.

[2021-04-14 23:00] skekre98 commented on #153
@callofangel sure, feel free to create an issue for tracking purposes. I'll go ahead and assign it to you.

[2021-04-30 11:09] moki1202 commented on #150
@skekre98 just noticed that i made a mistake while observing... both the code instances belong to different functions . Do you mean just deleting the "advanced stat " part?

[2021-07-11 09:57] mohsinzafaruk1996 commented on #113
Is this PR still being worked on, if not I would like to contribute :)

[2021-08-05 01:54] AColocho opened #156 "Duplicate values in query.csv and text_data.py:alltime_player_list"
**Describe the bug**
Discovered duplicate values in query.csv and in the list alltime_player_list in the file text_data.py

**To Reproduce**
Steps to reproduce the behavior:
1. Go to query.csv and search "how are you"
1. Go to text_data.py and search "Chris Wright"

This is not an extensive list, just an example of a duplicate value.

**Expected behavior**
No duplicate values.

[2021-08-18 10:07] plnancy commented on #113
Update inference_network.py

[2021-08-24 16:13] pragyasrivastava0805 commented on #33
Hi is this issue still open?I would like to work on this

[2021-08-28 08:28] V3NN0W commented on #113
Hello there , this PR is it still open I would like to contribute ?

[2021-08-30 17:58] skekre98 commented on #113
Hi @V3NN0W, apologies this issue was meant to be closed a while ago.

[2021-08-30 17:58] #113 closed

[2021-08-30 17:59] skekre98 commented on #156
Hi @AColocho, sorry for my absence. This is a good catch, feel free to work on it :)

[2021-08-30 18:06] skekre98 opened #159 "test_get_adv_stats is failing from NoneType object"
**Describe the bug**
`test_get_adv_stats` is failing, seems to be from a missing div when scraping advanced stats.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup the environment with `./setup.sh`
2. Run `python main.py test` to run unit tests
3. See error
[code]

**Expected behavior**
This should correctly scrape the advanced of NBA players and check for any NoneType objects in case t

[2021-08-30 18:41] V3NN0W commented on #113
Hello skekre98,

 thank you for your quick response.  Apart from this topic I wanted to see
with you, maybe you know more than me, but why not integrated a video
player which would show the important moments or actions of a match when
clicked?  Of course it goes without saying that we need to create a clean
YouTube channel for the site, but that sounds good to me, I'd love to hear
from you.

I wis

[2021-08-31 01:37] AColocho commented on #156
No problem! I actually have a pull request open associated with this. #157

[2021-08-31 01:39] AColocho commented on #159
You can assign this issue to me. I'll review it in the next couple of days.

[2021-08-31 21:33] skekre98 commented on #159
Awesome, thanks @AColocho

[2021-08-31 21:36] #156 closed

[2021-08-31 22:27] AColocho commented on #159
@skekre98 I found the issue. Basketball Reference removed the comment that was used as an anchor to find the table. I'm having trouble understand what the function returns. Is it just the latest stat as a float? or is it all the available stats for the category as a list of floats?

[2021-09-01 17:43] skekre98 commented on #159
Hi @AColocho, the function should be returning the advanced statistic as a float value. The user will specify the name of the player and the advanced statistic to retrieve when calling the function. For example:
[code]

[2021-10-04 07:32] dominikk12 commented on #87
hi, I want to do on this issue, is this issue current.

[2021-10-04 08:10] dominikk12 commented on #159
is this issue done or not, i would like to do on it

[2021-10-04 23:29] AColocho commented on #159
Issue is done. It's waiting code review and merge.

[2021-10-05 09:18] chovo-55 commented on #87
hi, I would like to work on this issue, is this issue available?

[2022-05-25 20:15] mobanks10 opened #162 "This Project is Missing a LICENSE file"
**Describe the bug**
From what I can tell, there is no open source license file referenced in this repo.

**Additional context**
Assuming the community wants to continue keeping this project active, I think a decision should be made about what [open source license](https://choosealicense.com/) should be implemented into this project.

[2022-10-03 23:25] ibixina commented on #87
is this still open? I can work on it

[2022-11-03 12:02] DevChoganwala commented on #96
Hi @skekre98, are you still looking for help on this? I could help!